.task {
    margin-top: 101px;
}

.task-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media(max-width: 768px) {
    .task {
        margin-top: 30px;
    }
}