:root {
    --color-white: #ffffff;
    --color-black: #30324B;
    --color-gray-1: #A4A4A4;
    --color-gray-2: #878787;
    --color-gray-3: #575A84;
    --color-disabled: #DEDEDE;
    --color-green: #6AD400;
    --color-red: #FF2F2F;
}